src/main/resources/wsdl/test.wsdl

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
    xmlns:s="http://www.w3.org/2001/XMLSchema" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
    xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
    xmlns:tns="http://test.test.com/test_api/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://test.test.com/test_api/">
    <wsdl:documentation>Test WSDL for Illustration of wsdl2java usage with maven</wsdl:documentation>
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://test.test.com/test_api/">
            <s:element name="TestElement1">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="type1" type="tns:Type1" />
                        <s:element maxOccurs="1" minOccurs="0" name="type2" type="tns:Type2Request" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="Type1">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="Type1Field1" type="s:string" />
                    <s:element maxOccurs="1" minOccurs="0" name="Type1Field2" type="s:string" />
                    <s:element maxOccurs="1" minOccurs="0" name="Type1Field3" type="s:string" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="Type2Request">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="Type2Field1" type="s:string" />
                    <s:element maxOccurs="1" minOccurs="0" name="Type2Field2" type="s:string" />
                    <s:element maxOccurs="1" minOccurs="0" name="Type2Field3" type="s:string" />
                </s:sequence>
            </s:complexType>
            <s:element name="Type2Response">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="1" name="Type2ResponseField1" type="s:string" />
                        <s:element maxOccurs="1" minOccurs="0" name="Type2ResponseField2" type="s:string" />
                        <s:element maxOccurs="1" minOccurs="0" name="Type2ResponseField3" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="TestOperationSoapIn">
        <wsdl:part element="tns:TestElement1" name="parameters" />
    </wsdl:message>
    <wsdl:message name="TestOperationSoapOut">
        <wsdl:part element="tns:Type2Response" name="parameters" />
    </wsdl:message>
    <wsdl:portType name="Test_Operation_ManagerSoap">
        <wsdl:operation name="TestOperation">
            <wsdl:documentation>A random test operation</wsdl:documentation>
            <wsdl:input message="tns:TestOperationSoapIn" />
            <wsdl:output message="tns:TestOperationSoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Test_Operation_ManagerSoap" type="tns:Test_Operation_ManagerSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="TestOperation">
            <soap:operation soapAction="http://test.test.com/test_api/TestOperation" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Test_Operation_ManagerSoap12" type="tns:Test_Operation_ManagerSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="TestOperation">
            <soap12:operation soapAction="http://test.test.com/test_api/TestOperation" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Test_Operation_Manager">
        <wsdl:documentation>Random test operation api</wsdl:documentation>
        <wsdl:port binding="tns:Test_Operation_ManagerSoap" name="Test_Operation_ManagerSoap">
            <soap:address location="https://test.test.com/test-api.asmx" />
        </wsdl:port>
        <wsdl:port binding="tns:Test_Operation_ManagerSoap12" name="Test_Operation_ManagerSoap12">
            <soap12:address location="https://test.test.com/test-api.asmx" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
